
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Tables</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>
        Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">
                <input id="txtId" type="hidden" value="0"/>
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtNombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNombres">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos">
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtCorreo" placeholder="name@example.com">
                    </div>
                    <div class="col-sm-6">
                        <label for="cboActivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboActivo">
                            <option selected value="">Seleccione...</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var tableData;
        var filaSeleccionada;

        tableData = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            ajax: {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            },
            columns: [
                { data: "Nombres" },
                { data: "Apellidos" },
                { data: "Correo" },
                {
                    data: "Activo", render: function (valor) {
                        return valor ? '<span class="badge bg-success">Si</span>' : '<span class="badge bg-danger">No</span>';  }
                },
                {
                    defaultContent: '<button type="button" class="btn btn-primary btn-editar btn-sm me-md-1"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-eliminar btn-sm"><i class="fas fa-trash"></i></button>',
                    width: '90px'
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
            }
        });

        function abrirModal(json) {
            $("#txtNombres").val("");
            $("#txtApellidos").val("");
            $("#txtCorreo").val("");
            $("#cboActivo").val("");
            $("#txtId").val(0);

            $("#mensajeError").hide();

            if (json != null) {
                $("#txtId").val(json.IdUsuario);
                $("#txtNombres").val(json.Nombres);
                $("#txtApellidos").val(json.Apellidos);
                $("#txtCorreo").val(json.Correo);
                $("#cboActivo").val(json.Activo ? "1" : "0");
            }
            $("#formModal").modal('show');
        }

        function guardar() {
            $("#mensajeError").hide();
            var usuario = {
                Activo: $("#cboActivo").val() == 0 ? false : true,
                Apellidos: $("#txtApellidos").val(),
                Nombres: $("#txtNombres").val(),
                Correo: $("#txtCorreo").val(),
                IdUsuario: $("#txtId").val()
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: 'POST',
                data: JSON.stringify({ usuario: usuario }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (usuario.IdUsuario == 0) {
                        if (response.resultado != 0) {
                            usuario.IdUsuario = response.resultado;
                            tableData.row.add(usuario).draw(false);
                            $("#formModal").modal('hide');
                        }
                        else {

                            $("#mensajeError").html(response.mensaje).show();
                        }
                    }
                    else {
                        if (response.resultado === true) {
                            tableData.row(filaSeleccionada).data(usuario).draw(false);
                            $("#formModal").modal('hide');
                        }
                        else {
                            $("#mensajeError").html(response.mensaje).show();
                        }
                    }
                },
                error: function (error) { },
                beforeSend: function () { }
            });
        }

        $("#tabla tbody").on('click', '.btn-editar', function () {
            filaSeleccionada = $(this).closest('tr');
            var data = tableData.row(filaSeleccionada).data();
            abrirModal(data);
        });

        $("#tabla tbody").on('click', '.btn-eliminar', function () {
            filaSeleccionada = $(this).closest('tr');
            console.log(tableData.row(filaSeleccionada).data());
        });
    </script>
}